:root {
    --sharkbait: #ED7026;
    --dolphin: #707070;
    --bgLightMode: #FBFBFB;
    --activeBlue: #1b60a5;
    
    --contentWidth: 570px;
}
@font-face {
    font-family: AvenirBlack;
    src: url("../Finna-Events.github.io/fonts/Avenir-Black.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: CatamaranLight;
    src: url("../Finna-Events.github.io/fonts/Catamaran-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url('../Finna-Events.github.io/assets/background.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: var(--bgLightMode);
}
.content-area {
    padding: 70px 140px;
}
h1 {
    color: var(--sharkbait);
    font-family: AvenirBlack;
    font-size: 120px;
    line-height: 125px;
    width: var(--contentWidth);
}
p {
    color: var(--dolphin);
    font-family: CatamaranLight;
    font-size: 17px;
    line-height: 22px;
    text-transform: lowercase;
    width: var(--contentWidth);
    padding-top: 150px;
}
ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul li {
    list-style-type: none;
    float: left;
}
ul li a {
    padding: 16px;
    color: var(--activeBlue);
    font-family: CatamaranLight;
}
.logo {
    width: 240px;
}
.screenshots {
    width: 800px;
    float: right;
    position: relative;
    top: -380px;
}